#
# PLANTUML_RUNNER ('exec' or 'jpype') - Selects how PlantUML is run.
#
# 'exec'  : PLANTUML_EXEC is run as a subprocess each time PlantUML is rendered.
#           This is slow because a new Java process is started each time and that usually takes a few seconds.
#
# 'jpype' : JPype (https://jpype.readthedocs.io/en/latest/) is used to run PlantUML inside the Python process.
#           This should be a LOT faster than 'exec' but probably more confusing if it has a problem.
#
#           You will also need the 'jpype' plugin and a config something like this:
#
#           JPYPE_CLASSPATH = '/opt/local/plantuml/plantuml.jar'
#
#           JPYPE_JVM_ARGS = [
#               '/usr/local/openjdk-11/lib/server/libjvm.so',
#               '-Djava.awt.headless=true',
#           ]
#
PLANTUML_RUNNER = 'exec'

#
# PLANTUML_EXEC (list of strings) - The command to run PlantUML when PLANTUML_RUNNER='exec'
#
# '%site_path%' anywhere in PLANTUML_EXEC will be replaced with the full path to the site dir.
# PlantUML is run in the site dir so often this is not needed.
#
# Examples
# --------
# Run from a JAR file:
#   [ 'java', '-Djava.awt.headless=true', '-jar', 'plantuml.jar' ]
#
# Run in Docker:
#   [ 'docker', 'run', '--interactive', '--rm', '--volume', '%site_path%:/work', 'YOUR_IMAGE',
#     'java', '-Djava.awt.headless=true', '-jar', 'plantuml.jar' ]
#
PLANTUML_EXEC = ['plantuml']

#
# PLANTUML_ARGS (list of strings) - CLI arguments that are sent to PlantUML when rendering PlantUML files,
# see https://plantuml.com/command-line
#
# Examples
# --------
# Use a common style file for all diagrams:
#   [ '-Imy_plantuml_style.iuml' ]
#
# Specify the style in conf.py
#   [ '-chide footbox', '-SShadowing=false' ]
#
PLANTUML_ARGS = []

#
# PLANTUML_FILES contains (wildcard, destination, extension, args) tuples.
#
# <wildcard> is used to generate a list of source files in the same way as POSTS and PAGES.
#
# Rendered files will be placed at:
#   output / <destination> / <filename><extension>
#
# As with POSTS and PAGES you can create any directory structure you want and it will be reflected in the output.
#
# <args> is a list of cli arguments that are appended to PLANTUML_ARGS
#
PLANTUML_FILES = (
    ('plantuml/*.puml', 'plantuml', '.svg', ['-tsvg']),
)

#
# PLANTUML_CONTINUE_AFTER_FAILURE (boolean) - If True then Nikola will continue executing after any PlantUML failures.
#
# PlantUML puts its error messages in the rendered output so you might find this option helpful when running `nikola auto`.
#
PLANTUML_CONTINUE_AFTER_FAILURE = False

#
# PLANTUML_DEBUG (boolean) - Control plugin verbosity
#
PLANTUML_DEBUG = False
